.errorMessage {
    color: rgb(255, 0, 0);
    background: #fff8f8;
    font-size: 24px;
    border-style: solid;
    border-radius: 3px;
    padding: 12px;
    margin-bottom: 8px;
    margin-right: 50%;
    box-shadow: 3px 3px 3px grey;
}

.notificationMessage {
    color: rgb(0, 255, 0);
    background: rgb(249, 255, 248);
    font-size: 24px;
    border-style: solid;
    border-radius: 3px;
    padding: 12px;
    margin-bottom: 8px;
    margin-right: 50%;
    box-shadow: 3px 3px 3px grey;
}

.blogList, .logout, .toggleable {
    margin: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
}

.logout {
    width: 120px;
}

.toggleable {
    padding: 10px;
    background-color: rgb(242, 242, 242);
    border: solid;
    border-width: 1px;
    border-radius: 5px;
}

.blogForm, .blogFormChild {
    padding: 2px;
}
